.navbar-container {
    margin: 0px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.bits-royale-image {
    width: 100px;
    height: 90px;
}

.bits-royale-open-image {
    width: 70px;
    height: 32px;
    padding-left: 7px;
    margin-top: -5px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-tokens {

}

.blue {
    color: #00bcd4;
}

.navbar-container h2 {
    margin: 0px 15px;
    color: white;
}
.navbar-container h4 {
    margin: 0px 15px;
    color: #aaa;
}

@media screen and (max-width: 600px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
    }
    .navbar-container h2 {
        margin: 0px;
    }
    .navbar-container h4 {
        margin: 0px;
    }
}
